body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

header {
    font-family: 'Raleway', sans-serif;
}

nav div {
    display: flex;
}

nav .nav-center .logo {
    margin-top: 14px;
    font-size: 20px;
}

nav .nav-right .end {
    margin-left: 15px;
}

.search-image {
    margin-left: 10px;
    margin-top: 17px;
    width: 15px;
    height: 15px;
}
.headline{
    display: flex;
    justify-content: center;
}

.headline-text{
    width: 650px;
    display: flex;
    margin: auto;
}